* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 2px solid magenta; */
    display: flex;    
}

main {
    flex: 1;
}

button, input {
    font-family: inherit;
    font-weight: 400;    
}

::placeholder {
    font-family: inherit;
    font-weight: 400;
}