* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 100vw;
}

main {
    flex: 1;
}